{{#let (ensure-safe-component (bs-default @buttonComponent (component "bs-button"))) as |Button|}}
  <form class="modal-footer" ...attributes {{on "submit" this.handleSubmit}}>
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{#if this.hasSubmitButton}}
        <Button @onClick={{@onClose}}>{{this.closeTitle}}</Button>
        <Button @type={{bs-default @submitButtonType "primary"}} onClick={{@onSubmit}} disabled={{this.submitDisabled}}>{{@submitTitle}}</Button>
      {{else}}
        <Button @type="primary" @onClick={{@onClose}}>{{this.closeTitle}}</Button>
      {{/if}}
    {{/if}}
  </form>
{{/let}}