{{#let
  (ensure-safe-component (bs-default @titleComponent (component "bs-modal/header/title")))
  (component (ensure-safe-component (bs-default @closeComponent (component "bs-modal/header/close"))) onClick=@onClose)
  as |Title Close|
}}
  <div class="modal-header" ...attributes>
    {{#if hasBlockParams}}
      {{yield
        (hash
          title=Title
          close=Close
        )
      }}
    {{else}}
      {{#if (macroCondition (macroGetOwnConfig "isBS4"))}}
        {{#if hasBlock}}
          {{yield}}
        {{else}}
          <Title>{{@title}}</Title>>
        {{/if}}
        {{#if this.closeButton}}
          <Close/>
        {{/if}}
      {{/if}}
      {{#if (macroCondition (macroGetOwnConfig "isBS3"))}}
        {{#if this.closeButton}}
          <Close/>
        {{/if}}
        {{#if hasBlock}}
          {{yield}}
        {{else}}
          <Title>{{@title}}</Title>>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
{{/let}}